@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - P2Place</title>
    <script defer src="/js/Shared/GDPR.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/css/Shared/_NavAndFooter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/_default.css" />
    <link rel="stylesheet" href="/css/Shared/GDPR.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <a id="logo-text" asp-controller="Home" asp-action="Index">P2Place</a>
            <ul id="nav-container" class="nav-links">
                <li class="nav-link selected">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-link">
                    <a asp-controller="Home" asp-action="Create_Advert">Create Adverts</a>
                </li>
                <li class="nav-link">
                    <a asp-controller="Home" asp-action="Chat">Chat</a>
                </li>
                <li class="nav-link">
                    <a asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <a id="welcome-text" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <a id="logout-text" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login"><img src="~/images/user.png" /></a>
            }
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; 2023 - Kees Wijenberg - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <div id="pageSelector">@ViewData["Page"]</div>
    <script src="~/js/Shared/_NavAndFooter-NavAnimation.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>